---
layout: main
title: Clients
id: clients
---

{% for post in site.categories.clients %}
  <a name="{{ post.name }}"></a>
  <article id="{{ post.name }}" class="{% cycle 'odd', 'even' %}">
    <div class="summary">
      <header>
        <em>{{ post.what }} for</em>
        <h1>{{ post.client }}</h1>
      </header>
      {{ post.content }}
      <a href="{{ post.link_url }}" class="stylish">
        <span>{{ post.link_title }}</span>
      </a>
    </div>
    {% if post.gallery %}
      <div class="gallery">
        <ul>
          {% for image in post.gallery %}
            <li>
              <a href="{{ image.original }}">
                <img src="{{ image.thumb }}" width="225" height="120" alt="{{ image.title }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </article>
{% endfor %}