---
layout: main
title: Clients
id: clients
---

{% for post in site.categories.clients %}
  <article id="{{ post.name }}" class="{% cycle 'odd', 'even' %}">
    <a name="{{ post.name }}"></a>
    <div class="summary">
      <header>
        <em>{{ post.what }} for</em>
        <h1>{{ post.client }}</h1>
      </header>
      {{ post.content }}
      <a href="{{ post.link_url }}" class="stylish">
        <span>{{ post.link_title }} &raquo;</span>
      </a>
      <div class="hero">
        <img src="/uploads/clients/{{ post.name }}/hero.png" alt="Screenshot">
      </div>
    </div>
    {% if post.gallery %}
      <div class="gallery" style="display:none">
        <ul>
          {% for image in post.gallery %}
            <li>
              <a href="/uploads/clients/{{ post.name }}/{{ image.original }}">
                <img src="/uploads/clients/{{ post.name }}/{{ image.thumb }}" alt="{{ image.title }}">
              </a>
              <small>{{ image.title }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </article>
{% endfor %}