$tintColor: #e13432;
$darkColor: #2d3640;
$grayColor: rgba($darkColor, .05);
$borderColor: #eeeeee;

$bigFontSize:     1.250rem;
$regularFontSize: 1.000rem;
$smallFontSize:   0.875rem;
$tinyFontSize:    0.800rem;

$lightFontWeight:   300;
$regularFontWeight: 400;
$boldFontWeight:    700;

$maxWidth: 760px;
$margin: 4.5rem;

@mixin mid() {
  @media only screen and (min-width: 640px) { @content; }
}

@mixin wide() {
  @media only screen and (min-width: $maxWidth) { @content; }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}