---
---

@import 'normalize.scss';
@import 'fonts.scss';

$tintColor: #e13432;
$darkColor: #2d3640;
$grayColor: rgba($darkColor, .05);
$borderColor: #eeeeee;

$bigFontSize:     1.250rem;
$mediumFontSize: 1.110rem;
$regularFontSize: 1.000rem;
$smallFontSize:   0.875rem;
$tinyFontSize:    0.800rem;

$lightFontWeight:   300;
$regularFontWeight: 400;
$boldFontWeight:    700;

$maxWidth: 769px;
$margin: 4.5rem;

@mixin mid() {
  @media only screen and (min-width: 640px) { @content; }
}

@mixin wide() {
  @media only screen and (min-width: $maxWidth) { @content; }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 320px;
}

html {
  font-size: 16px;

  @include wide {
    font-size: 17px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #555;
  line-height: 1.55;
  font-family: 'nexa-web';
  font-size: $regularFontSize;
  font-weight: $regularFontWeight;
  background: #fff;

  &#home {
    background: rgba($darkColor, 0.08);
  }
}

a {
  color: $tintColor;
  text-decoration: none;
  &:visited {}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111;
  line-height: 1.2;
  font-weight: $boldFontWeight;

  & + p {
    margin-top: 0.5em;
  }
}

h1 {
  font-size: 35px;

  @include wide {
    font-size: 45px;
  }
}
h2 {
  font-size: 28px;

  @include wide {
    font-size: 31px;
  }
}
h3 {
  font-size: 24px; }
h4 {
  font-size: 20px; }
h5 {
  font-size: $tinyFontSize;
  font-weight: $boldFontWeight;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin: 1.25em 0;
  &.intro {
    color: #111;
    font-size: 23px;
    line-height: 1.5;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

ul, ol {
  margin: 1.25em 0 0;
  padding: 0;
  text-align: left;
  li {
    margin: 0.75em 0;
  }
}

blockquote {
  margin: 2em auto;
  padding: 1.25em 0;
  text-align: center;
  font-style: italic;
  font-size: 21px;
  line-height: 1.4em;
  border: 1px solid #ddd;
  border-width: 1px 0;

  @include wide {
    font-size: 25px;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
  }
}

figure {
  margin: 3em 0;
  figure img {
    margin: 0 0 10px !important;
  }
}
figcaption {
  font-size: $smallFontSize;
}

big {
  font-size: $bigFontSize;
  font-weight: $lightFontWeight;
  color: #111;
}
small {
  font-size: $smallFontSize;
}

strong {
  color: #111;
  font-weight: $boldFontWeight;
}

em {
  font-style: italic;
}

pre {
  display: block;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
code {
  margin: 0;
  padding: 0;
  display: inline;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
}


// =======
// Forms
// =======

form {
  margin: 3em 0;

  p {
    margin: 1em 0;
  }

  input, textarea {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-weight: $lightFontWeight;
    border: 1px solid rgba(#fff, .2);
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;

    &:focus,
    &:active {
      border-color: rgba(#fff, .5);
    }
  }

  textarea {
    padding-top: 6px;
    height: 120px;
  }

  button {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 2px;
    color: #fff;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $tinyFontSize;
    font-weight: $boldFontWeight;
    border: none;
    background: lighten($tintColor, 3%);
  }
}


// =======
// Utils
// =======

.contain {
  position: relative;
  max-width: $maxWidth / 1.5;
  margin: 0 auto;

  @include wide {
    max-width: $maxWidth;
    padding-left: 280px;
    h2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
    }
  }
}

.big {
  @extend big;
}
.small {
  @extend small;
}
.tiny {
  font-size: $tinyFontSize;
}

.tinted {
  color: $tintColor;
}

.nowrap {
  white-space: nowrap;
}
.lower {
  text-transform: lowercase;
}

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


// ==========
// Home page
// ==========

.home {
  max-width: 1120px;
  margin: 0 auto;
  background: #fff;
}

.home-header {
  max-width: ($maxWidth / 1.5) + 50px;
  margin: 0 auto;
  margin-bottom: (-$margin) + 2rem;
  padding: ($margin / 2) 25px 0;

  @include wide {
    max-width: $maxWidth + 100px;
    padding: 0 50px;
    padding-top: $margin;
  }
}

// Home page sections
.home-section {
  padding: $margin 25px;

  @include wide {
    padding: ($margin * 1.25) 50px;
  }

  &.intro {
    max-width: ($maxWidth / 1.5) + 50px;
    margin: 0 auto;

    > p {
      margin-top: 1.25em;
    }

    @include wide {
      max-width: $maxWidth + 100px;
      padding-top: $margin * 1.5;
      padding-bottom: $margin * 1.2;
      padding-right: $margin * 3;
    }
  }

  &.projects {
    padding: 0;

    article {
      @include flex(0 0 100%);
      overflow: hidden;
      position: relative;
      height: 220px;
      font-weight: $lightFontWeight;
      color: #fff;

      div {
        z-index: 2;
        position: absolute;
        top: 30px;
        left: 25px;
        p {
          max-width: 240px;
        }
      }

      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      img {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }

      h5 {
        margin-bottom: 1.5em;
        color: #fff;
      }

      &.racesplitter {
        background: #00bc6a;
        &::before {
          background: linear-gradient(90deg, #00bc6a 25%, rgba(#00bc6a, .5));
        }
      }

      &.rego {
        background: #203253;
        &::before {
          background: linear-gradient(90deg, #203253 25%, rgba(#203253, .5));
        }
      }

      &.mlk {
        background: #000;
        &::before {
          background: linear-gradient(90deg, #000 25%, rgba(#000, .5));
        }
      }

      &.day-in-the-cloud {
        background: #2d78aa;
        &::before {
          background: linear-gradient(90deg, #2d78aa 25%, rgba(#2d78aa, .5));
        }
      }

      &.referralexchange {
        background: #35597c;
        &::before {
          background: linear-gradient(90deg, #35597c 25%, rgba(#35597c, .5));
        }
      }
    }

    @include mid {
      @include flexbox();

      article {
        @include flex(1);
        height: 320px;

        div {
          left: 50px;
          top: 50px;
        }
      }
    }
  }

  &.quotes {
    padding: ($margin / 2) 25px $margin;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    background: rgba($darkColor, .03);
  }

  &.team {
    border-top: 1px solid $borderColor;

    article {
      position: relative;
      font-size: $smallFontSize;
      margin-top: ($margin / 1.5);
      @include flexbox();
      -webkit-align-items: center;
      -webkit-justify-content: center;

      img {
        flex: 0 0 160px;
        width: 160px;
        height: 160px;
        margin-right: 15px;
        margin-left: -50px;
        border-radius: 50%;
      }

      div {
        @include flex(1);
      }

      h5 {
        line-height: 1;
        font-size: $tinyFontSize;
      }

      p {
        margin: 0.75em 0 0;
      }

      p:last-child {
        margin-top: 0.5em;
        white-space: nowrap;

        a {
          color: #888;
          margin-right: 8px;
          &:hover {
            color: $tintColor;
          }
        }
      }

      &:nth-child(even) {
        img {
          -webkit-order: 2;
          -moz-order: 2;
          -ms-order: 2;
          order: 2;
          margin-right: -50px;
          margin-left: 15px;
        }
      }
    }

    @include wide {
      .contain {
        padding: 0;

        h2 {
          position: static;
          max-width: 480px;
          margin: 0 auto 0.25em;
        }
        > p {
          position: static;
          max-width: 480px;
          margin: 0 auto;
          text-align: center;
        }
        > div {
          @include flexbox;
        }
      }

      article {
        display: block;
        @include flex(1);
        padding: 0 15px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        img {
          display: block;
          margin: 0 auto 25px !important;
        }
      }
    }
  }

  &.work {
    padding: ($margin / 2) 0;
    > div::after {
      content: 'flickity';
      display: none; /* hide :after */
    }

    @include wide {
      > div::after {
        content: '';
      }
    }
  }

  &.contact {
    color: #fff;
    background: $darkColor;

    h2, big, .big {
      color: #fff;
    }

    img {
      display: block;
      height: 80px;
      margin: 0 auto;
      margin-top: $margin * 2;
      opacity: .1;
    }
  }
}

.accordion {
  border: 1px solid $borderColor;
  border-width: 0 0 1px;

  p + & {
    margin-top: 2em;
  }

  &:first-of-type {
    border-top-width: 1px;
  }

  > a {
    @extend h5;
    position: relative;
    display: block;
    color: $tintColor;
    line-height: 44px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      width: 20px;
      height: 44px;
      transition: .1s ease-out;
      background: url(/assets/img/chevron.svg) no-repeat center center;
      -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }

  > div {
    opacity: 0;
    height: 0;
    padding-right: 25px;
    transition: none;

    p:last-child {
      padding-bottom: 20px;
    }
  }

  &.expanded > a {
    &::after {
      -webkit-transform: rotate(-90deg);
         -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  }

  &.expanded > div {
    height: auto;
    opacity: 1;
    transition: 0.2s ease-out;
  }
}

.quote {
  position: relative;
  max-width: $maxWidth / 1.5;
  margin: 0 auto;
  padding-left: 55px;
  padding-top: 45px;

  div {
    max-width: 260px;
    color: #111;
    line-height: 1;

    @include wide {
      line-height: .8;
    }
  }

  img {
    float: left;
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }

  &::before {
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba($darkColor, .05);
  }
  &::after {
    content: '“';
    position: absolute;
    top: 45px;
    left: 0;
    margin: -5px;
    line-height: 1;
    font-size: 88px;
    font-family: Georgia, serif;
    color: $tintColor;
    font-weight: bold;
    font-style: italic;
  }

  @include wide {
    font-size: $bigFontSize;
  }
}

.logo {
  font-size: $bigFontSize;
  font-weight: $boldFontWeight;
  img {
    position: relative;
    display: inline-block;
    top: 1px;
    height: 48px;
    margin-right: -4px;
    vertical-align: baseline;
  }

  @include wide {
    img {
      height: 54px;
      margin-right: -6px;
    }
  }
}

.logos {
  overflow: hidden;
  max-width: $maxWidth;
  margin: 0 auto;
  margin-top: $margin;

  span {
    position: relative;
    float: left;
    width: 50%;
    height: 100px;
    margin: -1px;
    border: 0 solid $borderColor;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom-width: 1px;
    }
    &:nth-child(even) {
      border-left-width: 1px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0.5);
         -moz-transform: translate(-50%, -50%) scale(0.5);
          -ms-transform: translate(-50%, -50%) scale(0.5);
              transform: translate(-50%, -50%) scale(0.5);
    }
  }

  @include wide {
    span {
      width: 33.3333%;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6) {
        border-left-width: 1px;
      }
    }
  }
}


// =========
// Blog page
// =========

.blog {
  p, ul, ol, blockquote {
    font-family: "rooney-web-1","rooney-web-2", serif;
  }

  &-intro {
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid $borderColor;
    background: rgba($darkColor, .05);

    img {
      width: 48px;
    }

    p {
      margin-top: 1.25em;
      margin-bottom: .75em;
      color: #111;
      font-size: $bigFontSize;
    }
  }

  &-nav {
    margin-bottom: -.5em;
    color: #bbb;
    font-size: $smallFontSize;
    a {
      display: inline-block;
      margin: 0 6px;
      line-height: 1;
      color: #111;
      border-bottom: 1px solid rgba(#000, .2);
      &:hover {
        color: $tintColor;
        border-color: $tintColor;
      }
    }
  }

  &-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px;

    @include mid {
      padding: 50px;
    }
  }

  &-outro {
    margin-top: 60px;
    padding: 120px 25px;
    text-align: center;
    color: #fff;
    font-size: $bigFontSize;
    background: $darkColor;

    div {
      max-width: 540px;
      margin: 0 auto;
    }

    h3 {
      color: #fff;
      line-height: 1.4;
      font-weight: $regularFontWeight;
    }

    a {
      display: inline-block;
      padding: 0 20px;
      margin-top: 30px;
      line-height: 44px;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: $boldFontWeight;
      text-transform: uppercase;
      background: lighten($tintColor, 5%);
    }
  }
}


// =========
// Blog post
// =========

.post {
  &-header {
    padding: 30px 0;

    h1 {
      line-height: 1.15;
      font-size: 30px;
    }

    p {
      margin-top: .75em;
      color: #888;

      strong {
        font-weight: $regularFontWeight;
      }
    }
  }

  &-footer {
    margin: 90px 0 0;
    padding: 60px 0 0;
    text-align: center;
    border-top: 1px solid $borderColor;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      color: #888;
      strong {
        font-weight: $regularFontWeight;
      }
    }
  }

  &-main {
    h1, h2, h3, h4, h5, h6 {
      margin: 1.5em 0 0;
      line-height: 1.33;

      &:first-child {
        margin-top: 0;
      }

      & + p,
      & + ul,
      & + ol {
        margin-top: 1.25em;
      }
    }
    h1 {
      font-size: 29px;
      @include wide {
        font-size: 42px;
      }
    }
    h2 {
      font-size: $bigFontSize;

      @include wide {
        font-size: 25px;
      }
    }
    h3 {
      font-size: 24px; }
    h4 {
      font-size: 20px; }
    h5 {
      font-size: $tinyFontSize;
      font-weight: $boldFontWeight;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    img {
      padding: 8px;
      border: 1px solid $borderColor;
    }

    figure {
      figcaption {
        padding: 1em 0;
        font-size: $smallFontSize;
        color: #888;
      }
    }

    a {
      color: #111;
      border-bottom: 1px solid #ccc;

      &:hover {
        color: $tintColor;
        border-color: $tintColor;
      }
    }
  }
    &-intro {
      margin-bottom: 1.25em;
      font-size: $bigFontSize;
      color: #222;
    }
    &-content {}

  @include wide {
    &-header {
      padding: 60px 0;

      h1 {
        font-size: 48px;
      }

      p {
        margin-top: .5em;
        font-size: $bigFontSize;
      }
    }

    &-main {
      @include flexbox;

      .full {
        margin-left: calc(-75% + -60px);
      }

      figure {
        &.full {
          position: relative;
          figcaption {
            position: absolute;
            top: 100%;
            left: 0;
            width: 50%;
            padding-right: 50px;
            border-bottom: none;
          }
        }
      }
    }
      &-intro {
        @include flex(3);
        padding-right: 30px;
        color: #888;
      }
      &-content {
        @include flex(4);
        padding-top: 3px;
        padding-left: 30px;
      }
  }
}


.post-excerpt {
  padding: 3em 0;

  & + & {
    border-top: 1px solid #eee;
  }

  &-title {
    p {
      color: #888;
      strong {
        font-weight: $regularFontWeight;
      }
    }
  }

  &-text {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
      color: #888;

      a {
        color: #111;
        border-bottom: 1px solid #ccc;

        &:hover {
          color: $tintColor;
          border-color: $tintColor;
        }
      }
    }
  }

  h3 {
    font-size: 27px;
    color: #111;
    a {
      color: inherit;
      &:hover {
        color: $tintColor;
      }
    }
  }

  .read-link {
    font-size: $smallFontSize;
  }

  .arrow {
    position: relative;
    top: 1px;
  }

  @include mid {
    @include flexbox;

    &-title {
      @include flex(1);
      padding-right: 25px;
    }

    &-text {
      @include flex(1);
      padding-left: 25px;
      p {
        margin-top: 0;
      }
    }
  }
}