---
---

@import 'normalize.scss';
@import 'fonts.scss';

$tintColor: #e13432;
$darkColor: #2d3640;
$grayColor: rgba($darkColor, .05);
$borderColor: #e2e1dd !default;

$bigFontSize:     1.250rem;
$mediumFontSize: 1.110rem;
$regularFontSize: 1.000rem;
$smallFontSize:   0.875rem;
$tinyFontSize:    0.800rem;

$lightFontWeight:   300;
$regularFontWeight: 400;
$boldFontWeight:    900;

$maxWidth: 769px;
$margin: 4.5rem;

@mixin min() {
  @media only screen and (max-width: 480px) { @content; }
}

@mixin mid() {
  @media only screen and (max-width: 768px) { @content; }
}

@mixin max() {
  @media only screen and (min-width: $maxWidth) { @content; }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap() {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-width: 320px;
}

a {
  color: $tintColor;
  text-decoration: none;
  &:visited {}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #111;
  line-height: 1.2;
  font-weight: $boldFontWeight;

  & + p {
    margin-top: 0.5em;
  }
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px; }
h4 {
  font-size: 20px; }
h5 {
  font-size: $tinyFontSize;
  font-weight: $boldFontWeight;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin: 1.5em 0;
  &.intro {
    color: #111;
    font-size: 23px;
    line-height: 1.5;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  margin: 1.25em 0 0;
  padding: 0;
  text-align: left;
  li {
    margin: 0.75em 0;
  }
}

figure {
  margin: 3em 0;
  figure img {
    margin: 0 0 10px !important;
  }
}
figcaption {
  font-size: $smallFontSize;
}

big {
  font-size: $bigFontSize;
}
small {
  font-size: $smallFontSize;
}

strong {
  color: #111;
  font-weight: $boldFontWeight;
}

em {
  font-style: italic;
}

pre {
  display: block;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
code {
  margin: 0;
  padding: 0;
  display: inline;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
}


// =======
// Forms
// =======

form {
  margin: 60px 0 0;

  p {
    margin: .5em 0;
  }

  input, textarea {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    border: 1px solid $borderColor;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    resize: none;

    &:focus,
    &:active {
      border-color: darken($borderColor, 20%);
    }

    @include min {
      height: 52px;
      font-size: 24px;
    }
  }

  textarea {
    padding-top: 6px;
    height: 160px;
  }

  button {
    display: block;
    width: 100%;
    max-width: 50%;
    margin: 60px auto 0;
    padding-top: 2px;
    color: #fff;
    line-height: 44px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    background: $tintColor;
  }
}




// =========
// Blog page
// =========

.blog {
  p, ul, ol, blockquote {
    font-family: "rooney-web-1","rooney-web-2", serif;
  }

  &-intro {
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid $borderColor;
    background: rgba($darkColor, .05);

    img {
      width: 48px;
    }

    p {
      margin-top: 1.25em;
      margin-bottom: .75em;
      color: #111;
      font-size: $bigFontSize;
    }
  }

  &-nav {
    margin-bottom: -.5em;
    color: #bbb;
    font-size: $smallFontSize;
    a {
      display: inline-block;
      margin: 0 6px;
      line-height: 1;
      color: #111;
      border-bottom: 1px solid rgba(#000, .2);
      &:hover {
        color: $tintColor;
        border-color: $tintColor;
      }
    }
  }

  &-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px;

    @include mid {
      padding: 50px;
    }
  }

  &-outro {
    margin-top: 60px;
    padding: 120px 25px;
    text-align: center;
    color: #fff;
    font-size: $bigFontSize;
    background: $darkColor;

    div {
      max-width: 540px;
      margin: 0 auto;
    }

    h3 {
      color: #fff;
      line-height: 1.4;
      font-weight: $regularFontWeight;
    }

    a {
      display: inline-block;
      padding: 0 20px;
      margin-top: 30px;
      line-height: 44px;
      color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: $boldFontWeight;
      text-transform: uppercase;
      background: lighten($tintColor, 5%);
    }
  }
}



















$narrowWidth: 400px;
$normalWidth: 600px;
$wideWidth: 800px;

$transition: .25s cubic-bezier(.65, .65, .30, 1);

$borderColor: #E0DCCA;

body {
  min-width: $wideWidth + 80px;
  padding: 40px;
  padding-bottom: 160px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333231;
  line-height: 1.55;

  font-family: 'nexa-web', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;

  background: #F5F2E9;
  transition: background-color $transition;

  &#home {
    padding-bottom: 0;
  }

  &.contact-active {
    background: #2d3640;
  }

  @include min {
    min-width: $normalWidth + 80px;
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-weight: 800;
}

h1 {
  margin-bottom: 22px;
  font-size: 50px;
  font-weight: 900;
  line-height: 62px;
}

h2 {
  font-size: 34px;
  font-weight: 900;
}

h3 {
  font-size: 28px;
  font-weight: 900;
}

h4 {
  color: $tintColor;
  font-size: 20px;
}

strong {
  font-size: 1.05em;
  font-weight: 800;
}

big {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

small {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

blockquote {
  margin: 60px auto;
  padding: 30px;
  text-align: center;
  font-size: 26px;
  color: darken($borderColor, 40%);
  line-height: 1.5;
  border: 3px dotted $borderColor;
  border-width: 3px 0;
}

.wrapper {
  max-width: $normalWidth;
  margin: 0 auto;

  > header {
    padding: 120px 0;

    nav {
      display: inline-block;
      padding: 0 16px;
      a {
        display: inline-block;
        padding: 0 16px;
        font-size: 16px;
        font-weight: 800;
        color: desaturate(darken($borderColor, 25%), 15%);

        &:hover {
          color: $tintColor;
        }

        &.active {
          color: inherit;
        }
      }
    }

    @include min {
      padding-top: 60px;
      nav {
        a {
          font-size: 20px;
        }
      }
    }
  }
}
.wide {
  width: $wideWidth;
  margin: {
    left: -($wideWidth - $normalWidth) / 2;
    right: -($wideWidth - $normalWidth) / 2;
  }

  @include min {
    max-width: $normalWidth;
    margin: 0 auto;
  }
}
.narrow {
  width: $narrowWidth;
  margin: {
    left: auto;
    right: auto;
  }
}
.center {
  text-align: center;
}
.muted {
  opacity: .6;
}
.medium {
  font-size: 16px;
  @include min {
    font-size: 18px;
  }
}
.big-margin {
  margin-top: 60px;
  margin-bottom: 60px;
}
.extra-big-margin {
  margin-top: 90px;
  margin-bottom: 90px;
}
.big {
  @extend big;
}
.small {
  @extend small;
}
.tiny {
  font-size: $tinyFontSize;
}
.tinted {
  color: $tintColor;
}
.nowrap {
  white-space: nowrap;
}
.lower {
  text-transform: lowercase;
}
.cols {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  -ms-column-gap: 60px;
  column-gap: 80px;
  column-rule: 1px solid $borderColor;
}
.hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.grid {
  @include flexbox;
  @include flex-wrap;
  margin: -10px;

  &-cell {
    @include flex(0 0 50%);
    padding: 10px;
  }

  @include min {
    &-cell {
      @include flex(0 0 100%);
    }
  }
}
.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

section {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  & + & {
    margin-top: 160px;
    padding-top: 160px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -120px;
      right: -120px;
      height: 3px;
      border: dotted $borderColor;
      border-width: 3px 0;
    }

    @include min {
      &::before {
        left: 0;
        right: 0;
      }
    }
  }

  &.intro {
    ul {
      margin: 64px 64px 80px 0;
    }

    @include min {
      ul {
        margin-right: 0;
      }
    }
  }

  &.clients {
    padding-top: 140px;

    > header {
      margin: 0 -30px;
    }

    .logos {
      margin: {
        top: 120px;
        bottom: 120px;
        left: -20px;
        right: -20px;
      }
    }

    li {
      position: relative;
      opacity: 0;
      -webkit-transform: scale(.75);
      -moz-transform: scale(.75);
      -ms-transform: scale(.75);
      transform: scale(.75);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .clients-visible & {
      li {
        opacity: 1;
        -wekbit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: all .15s ease-out;
        &:nth-child(2) { transition-delay: .1s; }
        &:nth-child(3) { transition-delay: .2s }
        &:nth-child(4) { transition-delay: .3s }
        &:nth-child(5) { transition-delay: .4s }
        &:nth-child(6) { transition-delay: .5s }
      }
    }

    @include min {
      > header {
        margin: 0 30px;
      }
    }
  }

  &.services {
    margin-bottom: -60px;

    ul {
      margin-top: 80px;
    }

    li {
      opacity: 0;
    }

    img {
      margin-bottom: 25px;
    }

    .services-visible & {
      li {
        opacity: 1;
        transition: opacity 1s ease-out;
        &:nth-child(2) { transition-delay: .25s }
        &:nth-child(3) { transition-delay: .50s }
        &:nth-child(4) { transition-delay: .75s }
      }
    }
  }

  &.about {
    transition: opacity $transition;

    > header {
      padding-bottom: 60px;
      p:first-of-type {
        font-size: 22px;
      }
    }

    li {
      position: relative;
      opacity: 0;
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .about-visible & {
      li {
        opacity: 1;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
        transition: all .5s ease-out;
        &:nth-child(2) { transition-delay: .25s }
        &:nth-child(3) { transition-delay: .5s }
      }
    }

    .contact-active & {
      opacity: 0;
    }
  }

  &.work {
    > header {
      margin: -20px -60px 0;
    }

    article {
      @include flex(0 0 50%);
      overflow: hidden;
      position: relative;
      height: 240px;
      font-size: 16px;
      color: #fff;
      border-radius: 5px;

      div {
        z-index: 2;
        position: absolute;
        top: 35px;
        left: 30px;
        p {
          max-width: 240px;
        }
      }

      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      img {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }

      h5 {
        margin-bottom: 1.5em;
        color: #fff;
      }

      &.racesplitter {
        background: #00bc6a;
        &::before {
          background: linear-gradient(90deg, #00bc6a 33%, rgba(#00bc6a, .5));
        }
      }

      &.rego {
        background: #203253;
        &::before {
          background: linear-gradient(90deg, #203253 33%, rgba(#203253, .5));
        }
      }

      &.mlk {
        background: #000;
        &::before {
          background: linear-gradient(90deg, #000 33%, rgba(#000, .5));
        }
      }

      &.day-in-the-cloud {
        background: #2d78aa;
        &::before {
          background: linear-gradient(90deg, #2d78aa 33%, rgba(#2d78aa, .5));
        }
      }

      &.referralexchange {
        background: #35597c;
        &::before {
          background: linear-gradient(90deg, #35597c 33%, rgba(#35597c, .5));
        }
      }

      &.chessdrop {
        background: #333230;
        &::before {
          background: linear-gradient(90deg, #333230 33%, rgba(#333230, .5));
        }
      }

      &.catalogchoice {
        background: #75a831;
        &::before {
          background: linear-gradient(90deg, #75a831 33%, rgba(#75a831, .5));
        }
      }

      @include min {
        height: 300px;
        font-size: 22px;

        h5 {
          font-size: 16px;
        }

        div {
          p {
            max-width: 320px;
          }
        }
      }
    }

    /* article {
      margin: 160px 0;

      & + article {
        position: relative;
        padding-top: 140px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -120px;
          right: -120px;
          border-bottom: 3px dotted $borderColor;

          @include min {
            left: 0;
            right: 0;
          }
        }
      }

      > header {
        font-size: 22px;
      }
    } */

    @include min {
      > header {
        margin: 0 20px;
      }
    }
  }

  &.contact {
    min-height: 100vh;
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    @include flexbox;
    align-items: center;
    justify-content: center;

    &::before {
      display: none;
    }
  }
}

.sheet {
  padding: 100px;
  border-radius: 5px;
  box-shadow: $borderColor 0 2px;
  background: #fff;

  @include min {
    padding: 50px;
  }
}

.quote {
  position: relative;
  @include flexbox;

  img {
    @include flex(0 0 160px);
    height: 160px;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: $borderColor 0 2px 0;
  }

  div {
    position: relative;
    margin-left: 20px;
    padding: 35px 40px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: $borderColor 0 2px 0;
    background: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 58%;
      left: -60px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-top-width: 24px;
      border-bottom-width: 6px;
      border-left-width: 30px;
      border-right-width: 30px;
    }

    &::before {
      margin-top: 2px;
      border-right-color: $borderColor;
    }

    &::after {
      border-right-color: #fff;
    }
  }
}

ul.people {
  li {
    @include flexbox();
    margin: 0 0 20px;
    list-style: none;

    img {
      @include flex(0 0 290px);
      height: 290px;
    }

    div {
      margin-left: 20px;
      padding: 50px 60px;
      background: #fff;
    }

    &:first-child {
      img {
        border-top-left-radius: 5px;
      }
      div {
        border-top-right-radius: 5px;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: 5px;
      }
      div {
        border-bottom-right-radius: 5px;
      }
    }

    &:nth-child(even) {
      img {
        -webkit-order: 2;
        -moz-order: 2;
        -ms-order: 2;
        order: 2;
      }
      div {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }

  @include min {
    li {
      div {
        padding: 20px 30px;
      }
    }
  }
}

ul.check {
  list-style: none;

  li {
    padding-left: 44px;
    background: url('/assets/img/check.svg') no-repeat 0 6px;

    & + li {
      margin-top: 30px;
    }
  }

  strong {
    display: block;
  }

  @include min {
    font-size: 1.25em;
    line-height: 1.4;
    strong {
      margin-bottom: 5px;
    }
  }
}

ul.four-up {
  @include flexbox;
  @include flex-wrap;
  position: relative;
  list-style: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &::before {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: linear-gradient(rgba($borderColor, 0), rgba($borderColor, 1), rgba($borderColor, 0));
  }
  &::after {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba($borderColor, 0), rgba($borderColor, 1), rgba($borderColor, 0));
  }

  li {
    @include flex(0 0 50%);
    padding-top: 80px;
    padding-bottom: 80px;

    &:nth-child(odd) {
      padding-right: 80px;
    }
    &:nth-child(even) {
      padding-left: 80px;
    }
  }

  @include min {
    li {
      padding-top: 40px;
      padding-bottom: 40px;
      &:nth-child(odd) {
        padding-right: 40px;
      }
      &:nth-child(even) {
        padding-left: 40px;
      }
    }
  }
}

ul.logos {
  @include flexbox;
  @include flex-wrap;
  list-style: none;

  li {
    height: 80px;
    @include flex(0 0 33.3333%);
    background: {
      position: 50% 50%;
      size: 180px 80px;
      repeat: no-repeat;
    }

    &.google { background-image: url('/assets/img/logos/google.png'); }
    &.virgin { background-image: url('/assets/img/logos/virgin.png'); }
    &.pearson { background-image: url('/assets/img/logos/pearson.png'); }
    &.oreilly { background-image: url('/assets/img/logos/oreilly.png'); }
    &.mlk { background-image: url('/assets/img/logos/mlk.png'); }
    &.catalogchoice { background-image: url('/assets/img/logos/catalogchoice.png'); }
  }

  @include min {
    margin: 60px 60px 80px !important;
    li {
      @include flex(0 0 50%);
    }
  }
}

ul.photos {
  @include flexbox;
  @include flex-wrap;
  position: relative;
  list-style: none;
  margin: -10px;

  li {
    @include flex(0 1 50%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: 33%;
    border-radius: 5px;
    border: 10px solid transparent;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

ul.links {
  list-style: none;
}

.video {
  position: relative;
  max-width: 100%;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.logo {
  display: inline-block;
  margin-top: -16px;
  margin-left: -46px;

  &-icon {
    height: 60px;
    width: 44px;
  }
  &-type {
    height: 28px;
  }

  @include min {
    margin-left: 0;
  }
}

.attention {
  display: block;
  color: inherit;
  text-align: center;
  line-height: 54px;
  font-weight: 800;
  color: #fff;
  border-radius: 3px;
  background: $tintColor;

  @include min {
    font-size: 22px;
  }
}

.browser {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
  padding-top: 44px;
  box-shadow: $borderColor 0 0 20px;
  border-radius: 5px;
  background: #fff;

  img {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: -2px;
  }

  &::before {
    content: '•••';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    text-align: center;
    font-size: 52px;
    line-height: 38px;
    color: #ddd;
  }
}

.mountains {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 100%;
  margin-top: -122px;
  margin-right: -271px;

  width: 768px;
  height: 391px;
  background: url(/assets/img/mountains.png) no-repeat left top;
  background-size: 100% 100%;

  @include min {
    margin-right: -488px;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}




// =========
// Blog post
// =========

.post {
  &-header {
    margin-bottom: 60px;
    p {
      position: relative;
      padding: 10px 0;
      margin: 30px 0;
      color: #888;
      font-size: 16px;
      strong {
        font-size: 16px;
        font-weight: $regularFontWeight;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 150px;
        margin-left: -75px;
        border-bottom: 3px dotted $borderColor;
      }
      &::after {
        top: 100%;
      }
    }
  }

  &-footer {
    margin-top: 90px;
    padding: 60px 0 0;
    border-top: 3px dotted $borderColor;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      color: #888;
      strong {
        font-weight: $regularFontWeight;
      }
    }
  }

  &-main {
    h1, h2, h3, h4, h5, h6 {
      margin: 60px 0 0;
      line-height: 1.33;

      &:first-child {
        margin-top: 0;
      }

      & + p,
      & + ul,
      & + ol {
        margin-top: 1.25em;
      }
    }
    h2 {
      font-size: 28px; }
    h3 {
      font-size: 24px; }
    h4 {
      font-size: 20px; }
    h5 {
      font-size: $tinyFontSize;
      font-weight: $boldFontWeight;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    blockquote {
      @extend .wide;
      padding: 0 0 0 30px;
      width: 80%;
      text-align: left;
      border: none;
      border-left: 3px solid $borderColor;
    }

    img {
      @extend .big-margin;
      @extend .wide;
    }

    figure {
      @extend .wide;
      figcaption {
        padding: 1em 0;
        font-size: $smallFontSize;
        color: #888;
      }
    }

    a {
      color: #111;
      border-bottom: 1px solid #ccc;

      &:hover {
        color: $tintColor;
        border-color: $tintColor;
      }
    }

    ul {
      padding-left: 1.1em;
    }
  }
    &-intro {
      @extend .big-margin;
      font-size: 26px;
      line-height: 1.55;

      @include min {
        font-size: 32px;
      }
    }
}

.post-excerpt {
  padding: 30px 0 90px;
  border-top: 3px dotted $borderColor;

  header + & {
    margin-top: 90px;
  }

  &-title {
    a {
      color: inherit;

      &:hover {
        color: $tintColor;
      }
    }

    @include min {
      font-size: 32px;
    }
  }

  &-text {
    margin: 1em 0;
    opacity: .8;
    a {
      color: inherit;
      &:hover {
        color: $tintColor;
      }
    }
  }

  .arrow {
    position: relative;
    top: 1px;
  }
}
