---
---

@import 'normalize.scss';
@import 'fonts.scss';
@import 'settings.scss';
@import 'shared.scss';

html {
  background: rgba($darkColor, 0.08);
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

// Home page header
body > header {
  max-width: ($maxWidth / 1.5) + 50px;
  margin: 0 auto;
  margin-bottom: (-$margin) + 2rem;
  padding: ($margin / 2) 25px 0;

  @include wide {
    max-width: $maxWidth + 100px;
    padding: 0 50px;
    padding-top: $margin;
  }
}

// Home page sections
body > section {
  padding: $margin 25px;

  @include wide {
    padding: ($margin * 1.25) 50px;
  }

  &.intro {
    max-width: ($maxWidth / 1.5) + 50px;
    margin: 0 auto;

    > p {
      margin-top: 1.25em;
    }

    @include wide {
      max-width: $maxWidth + 100px;
      padding-top: $margin * 1.5;
      padding-bottom: $margin * 1.2;
      padding-right: $margin * 3;
    }
  }

  &.projects {
    padding: 0;

    article {
      @include flex(0 0 100%);
      overflow: hidden;
      position: relative;
      height: 220px;
      font-weight: $lightFontWeight;
      color: #fff;

      div {
        z-index: 2;
        position: absolute;
        top: 30px;
        left: 25px;
        p {
          max-width: 240px;
        }
      }

      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      img {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }

      h5 {
        margin-bottom: 1.5em;
        color: #fff;
      }

      &.racesplitter {
        background: #00bc6a;
        &::before {
          background: linear-gradient(90deg, #00bc6a 25%, rgba(#00bc6a, .5));
        }
      }

      &.rego {
        background: #203253;
        &::before {
          background: linear-gradient(90deg, #203253 25%, rgba(#203253, .5));
        }
      }

      &.mlk {
        background: #000;
        &::before {
          background: linear-gradient(90deg, #000 25%, rgba(#000, .5));
        }
      }

      &.day-in-the-cloud {
        background: #2d78aa;
        &::before {
          background: linear-gradient(90deg, #2d78aa 25%, rgba(#2d78aa, .5));
        }
      }

      &.referralexchange {
        background: #35597c;
        &::before {
          background: linear-gradient(90deg, #35597c 25%, rgba(#35597c, .5));
        }
      }
    }

    @include mid {
      @include flexbox();

      article {
        @include flex(1);
        height: 320px;

        div {
          left: 50px;
          top: 50px;
        }
      }
    }
  }

  &.quotes {
    padding: ($margin / 2) 25px $margin;
    border-top: 1px solid $borderColor;
    background: rgba($darkColor, .03);
  }

  &.team {
    border-top: 1px solid $borderColor;

    article {
      position: relative;
      font-size: $smallFontSize;
      margin-top: ($margin / 1.5);
      @include flexbox();
      -webkit-align-items: center;
      -webkit-justify-content: center;

      img {
        flex: 0 0 160px;
        width: 160px;
        height: 160px;
        margin-right: 15px;
        margin-left: -50px;
        border-radius: 50%;
      }

      div {
        @include flex(1);
      }

      h5 {
        line-height: 1;
        font-size: $tinyFontSize;
      }

      p {
        margin: 0.75em 0 0;
      }

      p:last-child {
        margin-top: 0.5em;
        white-space: nowrap;

        a {
          color: #888;
          margin-right: 8px;
          &:hover {
            color: $tintColor;
          }
        }
      }

      &:nth-child(even) {
        img {
          -webkit-order: 2;
          -moz-order: 2;
          -ms-order: 2;
          order: 2;
          margin-right: -50px;
          margin-left: 15px;
        }
      }
    }

    @include wide {
      .contain {
        padding: 0;

        h2 {
          position: static;
          max-width: 480px;
          margin: 0 auto 0.25em;
        }
        > p {
          position: static;
          max-width: 480px;
          margin: 0 auto;
          text-align: center;
        }
        > div {
          @include flexbox;
        }
      }

      article {
        display: block;
        @include flex(1);
        padding: 0 15px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        img {
          display: block;
          margin: 0 auto 25px !important;
        }
      }
    }
  }

  &.work {
    padding: ($margin / 2) 0;
    > div::after {
      content: 'flickity';
      display: none; /* hide :after */
    }

    @include wide {
      > div::after {
        content: '';
      }
    }
  }

  &.contact {
    color: #fff;
    background: $darkColor;

    h2, big, .big {
      color: #fff;
    }

    img {
      display: block;
      height: 80px;
      margin: 0 auto;
      margin-top: $margin * 2;
      opacity: .1;
    }
  }
}

// Blog posts
.post {
  max-width: 640px;
  margin: 0 auto;

  &-header {
    em {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      color: #FC5C5F;
      font-style: normal;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h1 {
      margin-top: 20px;
    }
    h2 {
      margin-bottom: 30px;
    }
    a {
      color: #FC5C5F;
      background: none;
      &:hover {
        color: #3c3c3c;
      }
    }
  }

  &-footer {
    margin: 120px 0 0;
    text-align: center;
  }

  &-content {
    p, ul, ol {
      font-family: 'Merriweather', serif;
    }

    h2 {
      margin: 90px auto 30px auto;
    }
    h3 {
      margin: 90px auto 30px auto;
    }
    img {
      display: inline-block;
      width: 100%;
      max-width: 760px;
      margin: 1.5em 0;
    }

    p,
    ul,
    ol,
    blockquote,
    .highlight {
      max-width: 760px;
    }

    ul {
      padding-left: 1.1em;
    }
  }
}

// Forms
form {
  margin: 3em 0;

  p {
    margin: 1em 0;
  }

  input, textarea {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-weight: $lightFontWeight;
    border: 1px solid rgba(#fff, .2);
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;

    &:focus,
    &:active {
      border-color: rgba(#fff, .5);
    }
  }

  textarea {
    padding-top: 6px;
    height: 120px;
  }

  button {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 2px;
    color: #fff;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $tinyFontSize;
    font-weight: $boldFontWeight;
    border: none;
    background: lighten($tintColor, 3%);
  }
}

.logo {
  font-size: $bigFontSize;
  font-weight: $boldFontWeight;
  img {
    position: relative;
    top: 1px;
    height: 48px;
    margin-right: -4px;
    vertical-align: baseline;
  }

  @include wide {
    img {
      height: 54px;
      margin-right: -6px;
    }
  }
}

.accordion {
  border: 1px solid $borderColor;
  border-width: 0 0 1px;

  p + & {
    margin-top: 2em;
  }

  &:first-of-type {
    border-top-width: 1px;
  }

  > a {
    @extend h5;
    position: relative;
    display: block;
    color: $tintColor;
    line-height: 44px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      width: 20px;
      height: 44px;
      transition: .1s ease-out;
      background: url(/assets/img/chevron.svg) no-repeat center center;
      -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }

  > div {
    opacity: 0;
    height: 0;
    padding-right: 25px;
    transition: none;

    p:last-child {
      padding-bottom: 20px;
    }
  }

  &.expanded > a {
    &::after {
      -webkit-transform: rotate(-90deg);
         -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
  }

  &.expanded > div {
    height: auto;
    opacity: 1;
    transition: 0.2s ease-out;
  }
}

.quote {
  position: relative;
  max-width: $maxWidth / 1.5;
  margin: 0 auto;
  padding-left: 55px;
  padding-top: 45px;

  div {
    max-width: 260px;
    color: #111;
    line-height: 1;

    @include wide {
      line-height: .8;
    }
  }

  img {
    float: left;
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }

  &::before {
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba($darkColor, .05);
  }
  &::after {
    content: '“';
    position: absolute;
    top: 45px;
    left: 0;
    margin: -5px;
    line-height: 1;
    font-size: 88px;
    font-family: Georgia, serif;
    color: $tintColor;
    font-weight: bold;
    font-style: italic;
  }

  @include wide {
    font-size: $bigFontSize;
  }
}

.logos {
  overflow: hidden;
  max-width: $maxWidth;
  margin: 0 auto;
  margin-top: $margin;

  span {
    position: relative;
    float: left;
    width: 50%;
    height: 100px;
    margin: -1px;
    border: 0 solid $borderColor;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom-width: 1px;
    }
    &:nth-child(even) {
      border-left-width: 1px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0.5);
         -moz-transform: translate(-50%, -50%) scale(0.5);
          -ms-transform: translate(-50%, -50%) scale(0.5);
              transform: translate(-50%, -50%) scale(0.5);
    }
  }

  @include wide {
    span {
      width: 33.3333%;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6) {
        border-left-width: 1px;
      }
    }
  }
}

.column {
  width: calc(100% - 50px);
  text-align: center;

  & + & {
    margin-left: 25px;
  }

  img {
    height: 100%;
  }
}

.short {
  height: 225px;
  background: #fff;
  & + & {
    margin-top: 25px;
  }
}

.long {
  height: 475px;
  padding: 25px;
  background: #fff;
}