@import url('normalize.css');
@import url('../fonts/texta.css');
@import url('http://fonts.googleapis.com/css?family=Merriweather:700');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { min-height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  min-width: 440px;
  padding: 120px 40px 240px;
  line-height: 1.4;
  color: #3C3C3C;
  font-size: 20px;
  font-family: 'TextaAlt';
  font-weight: 300;
  text-align: center;
  background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FAFCFC 100%);
  background-image: -moz-linear-gradient(-90deg, #FFFFFF 0%, #FAFCFC 100%);
  background-image: -ms-linear-gradient(-90deg, #FFFFFF 0%, #FAFCFC 100%);
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FAFCFC 100%);
}


h1, h2, h3, h4, h5, h6 {
  color: #222;
  text-align: center;
  font-family: 'Merriweather';
  font-weight: 600; }
h1 {
  max-width: 960px;
  margin: 80px auto;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: -1px; }
h2 {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: -1px;
  word-spacing: 1px; }
  h2 a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
    background: none; }
    h2 a:hover {
    color: #FC5C5F; }
h3 {
  max-width: 660px;
  margin: 90px auto 30px;
  font-size: 24px;
  line-height: 32px; }
h4 {
  max-width: 660px;
  margin: 90px auto 30px;
  font-size: 20px;
  line-height: 32px; }

p {
  max-width: 660px;
  margin: 1.5em auto;
  text-align: left; }
p:first-child {
  margin-top: 0; }


a {
  color: #3C3C3C;
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(0deg, #222, #222 50%, transparent 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 98%; }
a:hover {
  color: #000; }
a:visited {}
  a.button {
    display: inline-block;
    padding: 2px 30px 0;
    color: #fff;
    line-height: 64px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 4px;
    text-shadow: #fff 0 0 2px 2px;
    background: #FC5C5F; }
    a.button:hover {
      background: #F25A5C;
    }


ul, ol {
  max-width: 660px;
  margin: 1.5em auto;
  padding: 0;
  text-align: left; }
  ul li, ol li {
    margin: 1.5em 0; }
  ul li p, ol li p {
    width: auto;
    padding: 0; }


blockquote {
  max-width: 660px;
  margin: 1.5em auto;
  padding: 1.5em 0;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #eee;
  border-width: 1px 0; }
  blockquote em {
    display: block;
    margin-top: 1em;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
  }

figure {
  margin: 3em 0; }
  figure img {
    margin: 0 0 10px !important; }
figcaption {
  font-size: 14px;
  font-weight: 500;
  color: #999; }


small {
  font-size: 14px;
  line-height: 18px; }
strong {
  font-weight: 500; }
em {}

.nowrap {
  white-space: nowrap;
}

.highlight {
  margin: 0 auto;
  text-align: left;
}

pre {
  display: block;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
code {
  margin: 0;
  padding: 0;
  display: inline;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
}


.logo {
  display: inline-block;
  margin-bottom: -20px;
  background: none; }
  #post .logo {
    display: none; }


header {}

section {}
  section + section,
  article + section {
    position: relative;
    padding-top: 60px;
    margin-top: 120px;
  }
    section + section::before,
    article + section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100px;
      margin-left: -50px;
      height: 2px;
      border: 1px solid #FC5C5F;
      border-radius: 4px;
    }

article {
  margin-top: 120px; }
  article header em {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #FC5C5F;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px; }
  article h2 {
    margin-bottom: 30px; }

.single {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px; }
  .single header {}
    .single header h1 {
      margin-top: 20px; }
    .single header a {
      color: #FC5C5F;
      background: none; }
      .single header a:hover {
        color: #3c3c3c; }
  .single p,
  .single ul,
  .single ol,
  .single blockquote,
  .single .highlight {
    max-width: 760px; }
  .single ul {
    list-style-type: none; }
    .single ul li {
      position: relative;
      padding-left: 20px; }
      .single ul li::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 4px;
        border: 1px solid #FC5C5F; }

.content {}
  .content h2 {
    margin: 90px auto 30px auto; }
  .content h3 {
    margin: 90px auto 30px auto; }
  .content img {
    display: inline-block;
    width: 100%;
    max-width: 760px;
    margin: 1.5em 0; }

.follow {
  margin: 120px 0 0;
  text-align: center; }

.achievements {}
  .achievements p {
    position: relative;
    padding-left: 20px; }
  .achievements p::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    border: 1px solid #FC5C5F;
  }

.people {}
  .people ul {
    overflow: hidden;
    max-width: 540px;
    margin: -15px auto;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0; }
  .people ul li {
    cursor: default;
    position: relative;
    overflow: hidden;
    float: left;
    display: inline-block;
    height: 150px;
    margin: 15px;
    color: #aaa;
    line-height: 150px;
    text-align: center;
    border-radius: 100px;
    background: #eee; }
    .people ul li img {
      position: relative;
      width: 100%;
      border-radius: 100px; }
    .people ul li:hover img {
      -webkit-filter: blur(5px); }
    .people ul li span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 4px;
      line-height: 150px;
      font-weight: 500;
      font-size: 19px;
      color: #fff;
      display: none;
    }
    .people ul li:hover span {
      display: block; }