---
---

@import 'normalize.scss';
@import 'fonts.scss';
@import 'settings.scss';
@import 'shared.scss';

body {}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0;
  line-height: 1.33;
  & + p {
    margin-top: 1.25em;
  }
}

p {
  &.intro {
    font-size: 25px;
    text-align: center;
  }
}

h2 {
  margin: 2em 0 0;
}
h3 {
  margin: 2em 0 0;
}
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

p, ul, ol {
  @include wide {
    font-size: 18px;
  }
}

p,
ul,
ol,
blockquote,
.highlight {
  max-width: 760px;
}

ul {
  padding-left: 1.1em;
}

blockquote {
  max-width: 660px;
  margin: 2em auto;
  padding: 1.25em 0;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  border: 1px solid #ddd;
  border-width: 1px 0;

  em {
    display: block;
    margin-top: 1em;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
  }
}

figure {
  margin: 3em 0; }
  figure img {
    margin: 0 0 10px !important; }
figcaption {
  font-size: 14px;
  font-weight: 500;
  color: #999; }

body > header {
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $boldFontWeight;
  font-size: 13px;
  letter-spacing: 1px;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.blog {
  max-width: 640px;
  margin: 0 auto;
}

.post {
  max-width: 880px;
  margin: 0 auto;
  padding: 25px;
  color: #222;

  &-header {
    text-align: center;

    h1 {
      font-weight: $regularFontWeight;
      font-size: 25px;
      @include wide {
        font-size: 42px;
      }
    }
    h2 {
      margin: 0;
      font-size: 1.33rem;
      line-height: 1.33;
      a {
        color: inherit;
        &:hover {
          color: $tintColor;
        }
      }
    }
    em {
      display: block;
      max-width: 640px;
      margin: 2em auto 4em;
      padding-bottom: 4em;
      font-size: 13px;
      color: $tintColor;
      font-style: normal;
      font-weight: bold;
      font-family: 'Nexa', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px solid #ddd;
    }
    a {
      color: #FC5C5F;
      background: none;
      &:hover {
        color: #3c3c3c;
      }
    }
  }

  &-footer {
    margin: 120px 0 0;
    text-align: center;
  }

  &-content {
    max-width: 640px;
    margin: 0 auto;
  }

  &-excerpt {
    p {
      margin: 0;
    }
  }

  &.is-excerpt {
    margin: 2em auto;

    .post-header {
      margin-bottom: .75em;
      text-align: left;
    }
  }
}