---
layout: blog
id: blog
---

{% for post in site.categories.blog %}
  <article class="post-excerpt">
    <div class="post-excerpt-title">
      <h3>
        <a href="{{ post.url }}" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </h3>
      <p>
        {% if post.author %}
          <em>by</em>
          <strong> {{ post.author }}</strong>
        {% endif %}
      </p>
    </div>

    <div class="post-excerpt-text">
      {{ post.excerpt | markdownify }}
      <a href="{{ post.url }}" title="{{ post.title }}" class="read-link">
        Read post <span class="arrow">&rarr;</span>
      </a>
    </div>
  </article>
{% endfor %}
