<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title>
    {% if page.title != null %}
      {{ page.title }} - Makalu Interactive
    {% else %}
      Makalu Interactive - It’s about what you do.
    {% endif %}
  </title>
  <link rel="stylesheet" href="/assets/css/flickity.css">
  <link rel="stylesheet" href="/assets/css/post.css">
</head>
<body id="{{ page.id }}">
  <header>
    <h2>The Makalu Blog.</h2>
  </header>

  <div class="blog">
    {{ content }}
  </div>

</body>
</html>