---
layout: main
id: blog
title: Makalu's blog about design, code & everything else.
---

<div class="blog">
  <header class="blog-intro">
    <img src="/assets/img/makalu.svg" alt="Makalu">
    <p>Makalu's blog about design, code & everything else.</p>
    <nav class="blog-nav">
      <a href="/">makaluinc.com</a>
      <em>/</em>
      <a href="/blog">blog</a>
    </nav>
  </header>

  <div class="blog-content">
    {{content}}
  </div>

  <footer class="blog-outro">
    <div>
      <p>Makalu Interactive is a small digital agency that consistently delivers big results.</p>
      <a href="/" class="button">More about Makalu</a>
    </div>
  </footer>
</div>
