<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
	<title>
    {% if page.title != null %}
      {{ page.title }}
    {% else %}
      Makalu
    {% endif %}
  </title>
	<link rel="stylesheet" href="/assets/css/main.css">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
</head>
<body id="{{ page.id }}">
  <div class="wrapper">
    <header>
      <a href="/" class="logo">
        <img src="/assets/img/makalu.svg" alt="" class="logo-icon">
        <img src="/assets/img/makalu.png" alt="makalu" class="logo-type">
      </a>
      <nav>
        <a {% if page.id == "home" %} class="active"{% endif %} href="/">home</a>
        <a {% if page.id == "story" %} class="active"{% endif %} href="/story">story</a>
        <a {% if page.id == "pitch" %} class="active"{% endif %} href="/pitch">pitch</a>
        <a {% if page.id == "ideas" or page.id == "post" %} class="active"{% endif %} href="/ideas">ideas</a>
      </nav>
    </header>

    {{ content }}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/js/vendor/jquery.scrolldepth.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
