---
layout: main
id: post
---

<article class="post">
  <header class="post-header">
    <h1>
      {{ page.title }}
    </h1>
  </header>

  <div class="post-main">
    <div class="post-intro">
      {{ page.excerpt | markdownify }}
    </div>
    <div class="post-content">
      {{ content }}
    </div>
  </div>

  <footer class="post-footer center wide">
    <p>
      <strong>{{ page.title }}</strong>
      {% if page.author %}
        by
        <strong>{{ page.author }}</strong>
      {% endif %}
      on
      <strong>{{ page.date | date: "%b %d, %Y" }}</strong>
    </p>
    {% if page.twitter_username %}
      <a href="https://twitter.com/{{ page.twitter_username }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ page.twitter_username }}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endif %}
  </footer>
</article>
