---
layout: main
id: blog
---
<article class="single">
  <header>
    <em>{{ page.date | date: "%B %d, %Y" }}</em>
    <h1>{{ page.title }}</h1>
    <ul>
      {% if page.author %}
        <li>
          <em>by <strong>{{ page.author }}</strong></em>
        </li>
      {% endif %}
      <li id="plusone" class="social">
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone size="medium" count="false"></g:plusone>
      </li>
      <li id="facebook" class="social">
        <a href="http://www.facebook.com/share.php" rel="internal">Facebook</a>
      </li>
      <li id="twitter" class="social">
        <a href="https://twitter.com/share" rel="internal">Tweet</a>
      </li>
    </ul>
  </header>
  <div class="content">
    {{ content }}
  </div>
</article>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>