---
layout: main
id: post
---
<article class="single">
  <header>
    <em>
      {{ page.date | date: "%B %d, %Y" }}
      {% if page.author %}
        &nbsp;&bull;&nbsp;
        by {{ page.author }}
        {% if page.twitter_username %}
          &nbsp;&bull;&nbsp;
          <a target="_blank" href="http://www.twitter.com/{{ page.twitter_username }}">@{{ page.twitter_username }}</a>
        {% endif %}
      {% endif %}
    </em>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="content">
    {{ content }}
  </div>

  {% if page.twitter_username %}
  <div class="follow">
    <a href="https://twitter.com/{{ page.twitter_username }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ page.twitter_username }}</a>
  </div>
  {% endif %}
</article>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
